name: Upgrade Version on Merge to Master

on:
  pull_request:
    types:
      - closed
  workflow_dispatch:
  
jobs:
  upgrade-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install semver
        run: npm install -g semver
      - name: Upgrade version in csproj
        run: |
          current_version=$(grep -oP '<Version>\K[^<]+' mwolabgit.csproj)
          new_version=$(semver bump patch $current_version)
          sed -i "s/<Version>[0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+<\/Version>/<Version>${new_version}<\/Version>/" mwolabgit.csproj
          git diff

      - name: Check for changes
        run: |
          git diff --exit-code || git commit -am "Bump version to ${new_version}"

      - name: Push changes
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git push
