name: Upgrade Version on Merge to Master

on:
  pull_request:
    types:
      - closed
  workflow_dispatch:
  
jobs:
  upgrade-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Upgrade version in csproj
        run: |
          current_version=$(grep -oP '<Version>\K[^<]+' mwolabgit.csproj)
          new_version="1.0.$((current_version + 1))"
          sed -i "s/<Version>[0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+<\/Version>/<Version>${new_version}<\/Version>/" mwolabgit.csproj
      - name: Commit and push changes
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add mwolabgit.csproj
          git commit -m "Bump version to ${new_version}"
          git config credential.helper 'cache --timeout=120'
          git remote set-url origin "https://${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git"
          git push
